
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

## COMMON
**/*.pyc
.DS_Store
data/.DS_Store
.idea/
data/.DS_Store
data/.DS_Store
.coverage
htmlcov/
.env
.pytest_cache
cov_html
.vscode/
*.code-workspace
